

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    overflow: hidden;
}

#three-canvas{
    display: inline-block;
    top:0px;
    margin: 0 auto;
    /*vertical-align: middle;*/
}
#splashscreen{
    display: block;
    position: relative;
    background: grey;
    text-align: center;
    font-size: large;
    padding: 35vh;
    margin:0 auto;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
#gobar{
    display:none;
    position:absolute;
    left:0;
    bottom:0;
    margin:0;
    height: 100px;
    width: 100vw;
    text-align: center;
    font-size:large;
}
.instructionbox{
    display:none;
    position:absolute;
    left:0;
    bottom:0;
    margin:0;
    height: 70px;
    width: 100vw;
    text-align: center;
    font-size:large;
}